@{
    ViewData["Title"] = "About";
}

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>@ViewData["Title"]</h3>
                <div>
                    <p>This is example solution for a task related with the implementation of a Company Microservice.</p>
                    <p><b>Created by:</b> Emil Lalkovski.
                    </p>
                    <p><b>Email:</b> emil27778@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
