/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.custom-container {
    margin-top: 40px;
    margin-bottom: 10em;
}

h3
{
    color: #93ca3a;
    font-size: 35px;
    padding-bottom: 10px;
}

h4 {
    color: #93ca3a;
}

#add-company {

    display: flex;
    align-items: center;
    justify-content: left;
}
.modal-header > h4 {
    color: #93ca3a;
}

.form-group {
    margin-top: 40px
}

a {
    text-decoration: none !important;
}

p {
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 24px;
}

textarea {
    height: 10em !important;
}

.field-validation-valid {
    display: none;
}

.table-hover > tbody > tr:hover {
    background-color: #93ca3a;
    cursor: pointer;
}

div.company-style {
    margin-bottom: 10em;
}

div.company-style > div > a > h3:hover {
    color:#7FAF36 !important
}
